img {
  user-select: none;
}

footer {
  background-color: rgba(0, 0, 0, 0.5);
  position:absolute;
  width:100%;
  bottom:0px;
}

header {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  top: 0px;
}

p {
  color: rgb(255, 255, 255);
  font-family: monospace;
  font-size: 18px; 
  user-select: none;
}

h1 {
  color: rgb(255, 255, 255);
  font-family: monospace;
  font-size: 36px;  
  user-select: none;
}

a {
  color: rgb(255, 255, 255);
  font-family: monospace;
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
  user-select: none;
}

body {
  background-color: rgb(11, 11, 11);
}

::-webkit-scrollbar {
  display: none;
}